<head> 
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div id="left-nav" class="col-xs-2 col-sm-2">
          <ul class="nav-collapse">
            <li><a (click)="showList1()">思维导图  <span class="glyphicon glyphicon-chevron-down"></span></a></li>
            <ul class="childList" *ngIf="show_hide_val1">
              <li><a (click)="showList2()">思维导图操作  <span class="glyphicon glyphicon-chevron-down"></span></a>
              </li>
              <ul class="childList" *ngIf="show_hide_val2">
                <li><a (click)="showList3()">切换思维导图  <span class="glyphicon glyphicon-chevron-down"></span></a></li>
                <ul class="childList" *ngIf="show_hide_val3">
                  <li *ngFor="let id of ids; let i = index"><a (click)="changeMap(i)">{{id}}</a></li>
                </ul>
                <li><a (click)="mapShoot()">思维导图截图</a></li>
              </ul>
            </ul>
            <ul id="left-bottom">
              <li><a>课程首页</a></li>
              <li><a routerLink="/index">退出登录</a></li>
            </ul>
        </ul>
        </div>
  
        <div id="right-part" class="col-xs-6 col-sm-10">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">思维导图{{currentMap + 1}}</a></li>
            <li *ngIf="mindMap.get_selected_node()"><a routerLink="/shomework/{{this.lid}}/{{mindMap.get_selected_node().id}}">作业</a></li>
            <li *ngIf="mindMap.get_selected_node()"><a routerLink="/sresource/{{this.lid}}/{{mindMap.get_selected_node().id}}">资源</a></li>
            <li *ngIf="mindMap.get_selected_node()"><a routerLink="/scourseware/{{this.lid}}/{{mindMap.get_selected_node().id}}">课件</a></li>
          </ul>
        
        <div id="jsmind_container"></div> 
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../jsmind/js/jsmind.screenshot.js"></script>
  </body>
  