
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container">
  <div class="row">
    <div id="left-nav" class="col-xs-2 col-sm-2">
      <ul class="nav-collapse">
        <li><a (click)="showList1()">课件  <span class="glyphicon glyphicon-chevron-down"></span></a></li>
        <ul class="childList" *ngIf="show_hide_val1">
          <li style="color: gray">新增课件</li>
          <li><a data-toggle="modal" data-target="#myModal2">课件</a></li>

          <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                  <h4 class="modal-title">新增课件</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- 模态框主体 -->
                <div class="modal-body">
                  <li><input type="file" id = "selectfile" (change)="selectFile($event)"></li>
                  <li><input type="text" id = "fd" placeholder="课件描述" [(ngModel)]="linkcontent" name="linkcontent" class="form-control"></li>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addFile()">确定</button>
                </div>

              </div>
            </div>
          </div>

        </ul>
      </ul>
    </div>

    <div class="col-xs-6 col-sm-10">
      <ul class="nav nav-tabs">
        <li><a routerLink="/mindmap/{{this.lid}}">思维导图</a></li>
        <li><a routerLink="/thomework/{{this.lid}}/{{this.node_id}}">作业</a></li>
        <li><a routerLink="/tresource/{{this.lid}}/{{this.node_id}}">资源</a></li>
        <li class="active"><a>课件</a></li>
      </ul>

      <div id="node-edit" >
          <span>
            <div>
              <div class="panel panel-default">
                <h3>上传队列</h3>
                   <table class="table table-bordered table-striped" >
                    <thead>
                    <tr>
                      <th width="10%">名称</th>
                      <th width="5%">大小</th>
                      <th width="20%">进度</th>
                      <th width="20%">状态</th>
                      <th width="25%">操作</th>
                      <th width="20%">描述</th>
                    </tr>
                    </thead>

                    <tbody class = "upload-queue">
                      <tr *ngFor="let item of uploader.queue">
                        <td width="10%"><strong>{{ item?.file?.name }}</strong></td>
                        <td width="5%" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td width="20%">
                          <div [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </td>
                        <td width="20%">
                          <span *ngIf="item.isSuccess">OK</span>
                          <span *ngIf="item.isCancel">Cancel</span>
                          <span *ngIf="item.isError">Error</span>
                        </td>
                        <td width="25%">
                          <button type="button" class="btn btn-default" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            上传
                          </button>
                          <button type="button" class="btn btn-default" (click)="item.cancel()" [disabled]="!item.isUploading">
                            取消上传
                          </button>
                          <button type="button" class="btn btn-default" (click)="removeFile(item)">
                            移除
                          </button>
                        </td>
                        <td width="20%">
                          {{filedescription.get(uploader.queue.indexOf(item))}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                 <div>
                  <p>队列长度: {{ uploader?.queue?.length }}</p>
                  队列上传进度:
                  <div class="progress" style="">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                  </div>
                  <div class="panel panel-default queue-operation">
                    队列操作：
                    <button type="button" class="btn btn-default" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      上传所有
                    </button>
                    <button type="button" class="btn btn-default" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                      取消所有
                    </button>
                    <button type="button" class="btn btn-default" (click)="removeAll()" [disabled]="!uploader.queue.length">
                      移除所有
                    </button>
                  </div>
                 </div>
              </div>
              <div class="panel panel-default">
                <h3>已上传的课件</h3>
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th width="25%">名称</th>
                      <th width="50%">描述</th>
                      <th width="25%">下载</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of filenames">
                      <td width="25%"><strong>{{ item.filename }}</strong></td>
                      <td width="50%">{{ item.filedescribtion }}</td>
                      <td width="25%">
                        <button type="button" class="btn btn-default" (click)="downloadfile(item.filename)">
                          download
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </span>
      </div>

    </div>
  </div>
</div>
<script type="text/javascript" src="../../jsmind/js/jsmind.screenshot.js"></script>
</body>
