<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div id="left-nav" class="col-xs-2 col-sm-2">
        <ul class="nav-collapse">
          <li><a>课件</a></li>
          <!-- <ul class="childList" *ngIf="show_hide_val1">
              <li style="color: gray">新增资源</li>
              <li><a (click)="mapShoot()">链接</a></li>
              <li><a (click)="creatMap()">文件</a></li>
          </ul> -->
          <ul id="left-bottom">
            <li><a>课程首页</a></li>
            <li><a routerLink="/index">退出登录</a></li>
          </ul>
      </ul>
      
      </div>

      <div id="right-part" class="col-xs-6 col-sm-10">
        <ul class="nav nav-tabs">
          <li><a routerLink="/studentmap/{{this.lid}}">思维导图</a></li>
          <li><a routerLink="/shomework/{{this.lid}}/{{this.node_id}}">作业</a></li>
          <li><a routerLink="/sresource/{{this.lid}}/{{this.node_id}}">资源</a></li>
          <li class="active"><a routerLink="/scourseware/{{this.lid}}/{{this.node_id}}">课件</a></li>
        </ul>

        <div id="node-edit" >
          <div class="panel panel-default">
            <h3>下载课件</h3>
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th width="25%">名称</th>
                <th width="50%">描述</th>
                <th width="25%">下载</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of filenames">
                <td width="25%"><strong>{{ item.filename }}</strong></td>
                <td width="50%">{{item.filedescribtion}}</td>
                <td width="25%">
                  <button type="button" class="btn btn-default" (click)="downloadfile(item.filename)">
                    download
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../jsmind/js/jsmind.screenshot.js"></script>
</body>
