<div style="text-align:center">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4>{{con1}}</h4>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" [(ngModel)]="user.username" id="ip1"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h4>{{con2}}</h4>
      </div>
      <div class="col-md-2">
        <input type="password" class="form-control" [(ngModel)]="user.password" id="ip2"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <h4>类型</h4>
      </div>
      <div class="col-md-2">
        <input type="text" class="form-control" [(ngModel)]="user.type" id="ip3"/>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-success" id="bt1" (click)="login()">登录</button>

<a routerLink="/index"><button type="button" class="btn btn-success" id="bt2">主界面</button></a>
