<head> 
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
</head>

<body>
  <div class="container">
    <div class="row">
      <div id="left-nav" class="col-xs-2 col-sm-2">
        <ul class="nav-collapse">
          <li><a>作业  <span class="glyphicon glyphicon-chevron-down"></span></a></li>
          <!-- <ul class="childList" *ngIf="show_hide_val1">
              <li style="color: gray">新增作业</li>
              <li><a (click)="mapShoot()">选择题</a></li>
              <li><a (click)="creatMap()">简答题</a></li>
            </ul> -->
      </ul>
      </div>

      <div class="col-xs-6 col-sm-10">
        <ul class="nav nav-tabs">
          <li><a routerLink="/mindmap">思维导图</a></li>
          <li class="active"><a routerLink="/thomework">作业</a></li>
          <li><a routerLink="/tresource">资源</a></li>
          <li><a routerLink="/tcourseware">课件</a></li>
        </ul>
   
        <div class="card" *ngFor="let item of homeworks">
            <div class="card-header">{{item[1]}}</div>
            <div class="card-body" *ngIf="item[0]==0">
                <div class="checkbox" *ngFor="let question of item[2]">
                    <label>
                      <input type="checkbox">{{question}}
                    </label>
                </div>

            </div>
            <div class="card-body" *ngIf="item[0]==1">
                <textarea class="form-control" rows="5"></textarea>
            </div>
        </div>

        
        <button type="button" class="btn btn-primary">提交</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../../jsmind/js/jsmind.screenshot.js"></script>
</body>
