#jsmind_container {
    float: left;
    width: 100%;
    height: 100%;
}


*{ margin:0; padding: 0; }

#left-nav{
    margin: 0 0 0 -18%;
    min-width: 180px;
    min-height: 750px;
    background-color:#373737;
    /* z-index:9999; */
}

#right-part{
    margin-left: -1.3%;
    min-width: 500px;
    min-height: 750px;
}

a:hover ,a:focus{text-decoration:none}

.nav-total{
    float: left;
}

.nav-tabs {
    font-size: 15px;
}

.nav-tabs li a {
    cursor: pointer;
}

.nav-collapse li{
    /* float: left; */
    padding:5% 0;  
    position: relative;
    display: block;
}

.nav-collapse li a {
    color:gray;
    display:block;
    padding:5% 5%;    
    /* border-top:1px solid #4f4f4f;
    border-bottom:1px solid #292929; */
    transition:all 0.2s ease-out;
    cursor:pointer;
}
.nav-collapse li a:hover {
    background-color: #4f4f4f;
    color: #ffffff;
}

.nav-collapse li a:focus {
    background-color: #4f4f4f;
    color: #ffffff;
}

.btn{
    float: right;
    margin: 5% 0% 0 0%;
}

.childList{
    padding-left: 10px;
}

.dropdown-menu li a {
    cursor: pointer;
}

.card{
    width: 100%;
    float: left;
    margin: 2% 0% 0 3%;   
}

.card-header{
    padding: 2% 2% 2% 2%;
}

.card-body{
    padding: 1% 2% 1% 2%;
}

.delete{
    float: right;
    margin: 0 0 2% 0;
}

.checkbox label{
    float: left;
    margin: 0 0 0 3%;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
}
