#jsmind_container {
    /* float: left; */
    width: 80%;
    height: 80%;
}


*{ margin:0; padding: 0; }

#left-nav{
    position:fixed;
    top:0;
    left:0;
<<<<<<< HEAD
    width:7cm;
=======
    width: 7cm;
>>>>>>> 9c90428838f8e500947324ed3d6312becf94e8be
    height:100%;
    background-color:#373737;z-index:9999;
}

#right-part{
    top:0;
    left: 2cm;
    min-height: 600px;
}

a:hover ,a:focus{text-decoration:none}

.nav-total{
    float: left;
}

.nav-tabs {
    font-size: 15px;
}

.nav-tabs li a {
    cursor: pointer;
}

.nav-collapse li{
    /* float: left; */
    padding:5% 0;  
    position: relative;
    display: block;
}

.nav-collapse li a {
    color:gray;
    display:block;
    padding:5% 5%;    
    /* border-top:1px solid #4f4f4f;
    border-bottom:1px solid #292929; */
    transition:all 0.2s ease-out;
    cursor:pointer;
}
.nav-collapse li a:hover {
    background-color: #4f4f4f;
    color: #ffffff;
}

.nav-collapse li a:focus {
    background-color: #4f4f4f;
    color: #ffffff;
}

#left-bottom {
    position: absolute;
    bottom: 0px;
}

.btn{
    margin: 2% 0 0 5%;
}

.btn-group{
    margin: 2% 0 0 5%;
}

.childList{
    padding-left: 10px;
}

.dropdown-menu li a {
    cursor: pointer;
}
