.index-top{
    margin-top: 100px;
    margin-bottom: 50px;
}

#title{
    margin-bottom: 50px;
    text-align: center; 
}

#subtitle{
    margin-right: 180px;
    text-align: right;
}

#bt1{
    padding: 8px 24px;
    margin:  2% 0px 2% 42%;
}
#bt2{
    padding: 8px 24px;
    margin:  2% 0px 2% 5%;
}