<head> 
  <meta charset="utf-8"> 
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">  
</head>
  
<div class="index-top">
  <h1 id="title">
    混合式教学在线系统
  </h1>
  <h5 id="subtitle">
      思维导图·个性化·主动学习·讨论式教学
  </h5>
</div>


<a routerLink="/login"><button type="button" class="btn btn-default" id="bt1" >登录</button></a>

<a routerLink="/register"><button type="button" class="btn btn-default" id="bt2">注册</button></a>

<!-- <a routerLink="/lessons"><button type="button" class="btn btn-success" id="bt3">课程（暂时入口，以后删除</button></a>

<a routerLink="/mindmap"><button type="button" class="btn btn-success" id="bt4">思维导图</button></a> -->