<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<div class="container">
    <div>
        <button class="btn btn-default" (click)="this.exitLogin11()">退出登录</button>
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal1">添加课程</button>
        <div class="modal fade" id="myModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">添加课程</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">

                        <input type="text" [(ngModel)]="addLessonId" placeholder="课程id" name="lessonid" class="form-control">
                        <input type="text" [(ngModel)]="addLessonName" placeholder="课程名称" name="lessonname" class="form-control">

                    </div>

                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addLesson()">确定</button>
                    </div>

                </div>
            </div>
        </div>

        <button class="btn btn-default" data-toggle="modal" data-target="#myModal2">修改密码</button>
            
        <div class="modal fade" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- 模态框头部 -->
                    <div class="modal-header">
                        <h4 class="modal-title">修改密码</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- 模态框主体 -->
                    <div class="modal-body">

                        <input type="password" [(ngModel)]="password1" placeholder="新密码" name="password1" class="form-control">
                        <input type="password" [(ngModel)]="password2" placeholder="确认密码" name="password2" class="form-control">

                    </div>

                    <!-- 模态框底部 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changePassword()">确定</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card" *ngFor="let item of lessons">
        <div class="card-header">No.{{item[0]}}<a class="lesson-enter" routerLink="/mindmap/{{this.user.username}}/{{item[0]}}">进入课程 <span class="glyphicon glyphicon-chevron-right"></span></a></div>
        <div class="card-body">课程名称: {{item[1]}}<br>课程人数: {{item[2]}}</div>
    </div>
</div>