.container{
    margin: 5% 0 0 30%;
}
h4{
    margin: 3% 0 0 0;
}
.row{
    margin: 5% 0 0 0;
}
.form-control{
    width:300px;
}
#bt1{
    margin:  5% 0px 2% 40%;
}
#bt2{
    margin:  5% 0px 2% 10%;
}